$ecruWhite: #F6F5E9;
$blueLagoon: #067384;
$amaranth: #E73358;
$selectiveYellow: #FFB900;
$cupid: #F9BEC3;
$keppel: #38B5AA;
$skeptic: #C1E3D3;

$accentColor1: $blueLagoon;
$accentColor2: $selectiveYellow;
$fontOnDark: $ecruWhite;
$textBackground: $ecruWhite;
$fontColour: rgba(0, 0, 0, 0.7);