body {
  color: $fontColour;
}

p {
  white-space: pre-wrap;
}
h1, h2, h3 {
  font-family: "Veneer", sans-serif;
  letter-spacing: 0.08em;
}

@font-face {
  font-family: 'Veneer';
  src: url('/fonts/Veneer.otf') format('opentype');
}