.location__hero {
  background-size: auto 100%;
  background-color: $accentColor2;
  background-position: center;
  height: 200px;
  position: relative;

  @media #{$medium-up} {
    height: 300px;
  }

  .location__hero-overlay {
    background-image: url('/images/blue-lagoon-box-background.svg');
    background-size: cover;
    bottom: -2.375rem;
    left: 5%;
    padding: 0.5rem 2rem;
    position: absolute;
    text-align: center;
    width:90%;
    z-index: 999;

    h1 {
      color: $ecruWhite;
      font-size: 2.5em;
      margin: 0;
    }

    @media #{$medium-up} {
      min-width: 250px;
      width: initial;
    }
  }
}

.location__map {
  height: 200px;

  @media #{$medium-up} {
    height: 300px;
  }
}

.location-information {
  background-color: $textBackground;

  .location__address-information {
    font-weight: bold;
    padding-top: 2rem;
    position: relative;

    @media #{$medium-up} {
      padding-top: 3rem;
    }

    .location__get-directions {
      background-color: $keppel;
      color: $fontOnDark;
      display: inline-block;
      padding: 0.5rem 3rem;
      position: absolute;
      text-align: center;
      top: -1.625rem;
      width: 100%;

      @media #{$medium-up} {
        width: initial;
      }

      h2 {
        margin: 0;
      }
    }
  }
}
