@import "normalize";
@import "grid";
@import "colours";
@import "fonts";
@import "location-page";

body {
  background-color: $skeptic;
  color: $fontColour !important;
}

.nav-bar-container {
  background-color: $amaranth;
  padding: 1rem;

  img {
    max-height: 50px;
  }
}